/*
* ==== Google fonts ====
*/

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,300);

/*
* ==== Typography ====
*/

body {
    color: #252525;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-size: 1.6em;
    line-height: 1.6;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

p {
    text-shadow: none;
    font-size: 1em;
    line-height: 1.65;
    padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: 600;
}

a {
    color: #BED4E0;
    text-decoration: none;
    border-bottom: 1px dotted #BED4E0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

a:hover {
    color: #8EB4C7;
    text-decoration: none;
    border-bottom: none;
}

.bright-text {
    color: rgba(255, 255, 255, 0.6);
}

.dark-text {
    color: rgba(0, 0, 0, 0.6);
}

nav a {
    text-decoration: none;
    border: none;
    font-size: 1em;
    font-weight: 400;
}

nav a:hover {
    border: none;
}

.notes {
    /*background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 125px rgba(0, 0, 0, 0.25);
    padding: 1em;*/
    background: rgba(29, 29, 29, 0.8);
    box-shadow: 0 0 125px rgba(0, 0, 0, 0.25);
    padding: 1em;
    color: #fff;
}

.notes h3 {
    font-size: 1.4em;
}

.notes h4 {
    font-size: 1.2em;
}

.notes p {
    font-size: 1em;
    width: 50%;
    margin: auto;
}

.site-wrapper {
    /*    background-image: url("../img/iphone.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 2% 100%;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #252525;
}


/*
* ==== Animation ====
*/

@-webkit-keyframes animateit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animateit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animateme {
    -webkit-animation: animateit 5s infinite;
    animation: animateit 2s;
    /* IE 10+, Fx 29+ */
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/*
* ==== GRID PAGE TILES ====
*/

.child {
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 5px 25px rgba(0, 0, 0, 0.4);
    line-height: 100px;
    font-size: 1.5em;
    padding: 40px 0 10px 0;
    overflow: hidden;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.child:hover {
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.4), inset 0 1px 4px rgba(0, 0, 0, 0.7);
}

.child-number {
    font-size: 1.2em;
}

.link,
.link:visited {
    margin-top: 0px;
    padding: 8px 12px 12px 20px;
    /*    background-color: rgba(0, 0, 0, 0.6);*/
    border-bottom: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.7em;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.link::after {
    content: "»";
    opacity: 0;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transform: translateX(4);
    transform: translateX(4);
}

.link:hover::after {
    content: "»";
    opacity: 1;
    padding-left: 10px;
    display: inline;
}


/*
* ==== For use with clipboard.js ====
*/

.child .copyclass {
    /*    display: none;*/
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-top: 400px;
}

.child:hover .copyclass {
    margin-top: -40px;
}

.copyclass {
    display: block;
    margin: -40px 0;
    padding: 0;
}

.copyclass .btn {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 4px 4px 4px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    color: #DDD;
}

.copyclass .btn:hover {
    /*    background-color: rgba(255, 255, 255, 0.5);*/
    /*    color: #141414;*/
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.copyclass .btn:active {
    background-color: #3f7c3f;
    color: #fff;
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
}

code {
    background-color: #E8F5F2;
    border-radius: 3px;
    color: #1BC1A1;
    font-size: 85%;
    margin: 0;
    padding: 0.2em;
}


/*
* ==== FOOTER ====
*/

.myfooter {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0 0 0;
}
