/* 43-Black Sands: */
.blackSands {
    background-color: #9D9B97;
    background-image:
        radial-gradient(at 50% 85%, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 150%),
               linear-gradient(to top, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal, multiply;
}