
/* 31-Golden Leaf: */
.goldenLeaf {
background: #92847B;
background-image: radial-gradient(at bottom center, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 200%),
radial-gradient(at bottom center, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.10) 100%);
background-blend-mode: normal,screen;
}