/* 46-Graphite: */
.graphite {
background: #282828;
background-image: linear-gradient(-90deg, #7B7F82 2%, #303136 100%),
radial-gradient(50% 116%, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 100%),
linear-gradient(-59deg, rgba(255,255,255,0.50) 7%, rgba(87,87,87,0.50) 68%, rgba(85,85,85,0.50) 76%, rgba(0,0,0,0.50) 100%);
background-blend-mode: normal,multiply,multiply;
}
