/* 27-Grey Connection: */
.greyConnection {
background: #C4C4C4;
background-image: radial-gradient(50% 100%, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%),
linear-gradient(to left, rgba(255,255,255,0.35) 0%, #929292 99%);
background-blend-mode: normal,multiply;
}