/* 29-Hidden Gems: */
.hiddenGems {
background: #BDB5B2;
background-image: linear-gradient(to left, rgba(255,255,255,0.20) 0%, #A1A1A1 100%),
linear-gradient(to bottom left, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.10) 95%);
background-blend-mode: multiply;
}