/* 26-Silver Stone: */
.silverStone {
    background: #989898;
    background: 
        linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%),
        radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%);
    background-blend-mode: multiply,multiply;
}